@media screen and (max-width: 766px) {
    .dropDown {
    	display: inline-block !important;
    }

    .headerNav:nth-child(2):not(.closeNav) {
    	display: none !important;
    }

    .overlay {
    	visibility: hidden !important;
    }

}

@media screen and (min-width: 766px) {
    .headerNav:nth-child(3) {
    	display: none !important;
    }
}